<!DOCTYPE html>
<html>

<header>
    <a class="pageName" href="index.html">Tech Blog</a>
    <select name="Language" id="ln">
        <option value="English">English</option>
        <option value="Arabic">Arabic</option>
    </select>
</header>

<head>
    <link rel="stylesheet" href="/public folder/article-style.css">
</head>

<body>

    <h1>HTML Introdution </h1>
    <p class="writer"><b>Written by: Admin</b></p>
    <h4>HTML is the standard markup language for creating Web pages</h4>
    <h1>What is HTML</h1>

    <ul>
        <li>HTML stands for Hyper Text Markup Language</li>
        <li>HTML is the standard markup language for creating Web pages</li>
        <li>HTML describe the structure of a Web page</li>
        <li>HTML consists of a series of elements</li>
        <li>HTML elements tell the browser how to display the content</li>
        <li>HTML elements label pieces of content such as "this is a heading","this is a paragraph","this is a link",etc.</li>
    </ul>

    <hr>

    <h1>What is an HTML Element</h1>
    <p>An HTML element is defined by a start tag, some content, and end tag:</p>
    <p>&nbsp; &lt;tagname &gt; Content goes here... &lt;/tagname &gt; </p>
    <p>The HTML <b>element</b> is everything from the start tag to the end tag:</p>
    <p>&nbsp; &lt;h1 &gt; My First Heading &lt;/h1 &gt;</p>
    <p>&nbsp; &lt;p &gt; My first paragraph. &lt;/p &gt;</p>
    <p><b>Start tag Element content End tag</b></p>

    <p>&lt;h1&gt; &nbsp; &nbsp; My First Heading &nbsp; &lt;/h1&gt;</p>
    <p>&lt;p&gt; &nbsp; &nbsp; &nbsp;  My first paragraph. &lt;/p&gt;</p>
    <p>&lt;br&gt; &nbsp; &nbsp;  <i>none</i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp;  <i>none</i></p>

    <p><b>Note:</b> Some HTML elements have no content (like the &lt;br&gt; element). These element 
        are called empty elements. Empty elements do not have an end tag!</p>
    <hr>

    <button class="button" onclick="likeArticle()">
        <img src="/src/like-plus.png" alt=""><span id="count">5</span>
    </button>
    <footer>© The Tech Blog 2023 created by 222-SWE-363 student</footer>

    <script src="/public folder/article.js"></script>

</body>

</html>